@model Shelterer.Models.ObjectType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ObjectType</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.ObjectTypeName).ToString(), "Index", "FieldInstant",
                new { table = "ObjectType", recordId = Model.Id, field = "ObjectTypeName" },
                new { data_toggle = "modal", data_target = "#remoteModal1", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shelters)
        </dt>
        <dd>
            @{ViewBag.AdditionalInfo = "location";}
            @Html.Partial("~/Views/Shelter/PartialIndex.cshtml", Model.Shelters)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<div class="modal fade" id="remoteModal1" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content"></div>
    </div>
</div>