@model Shelterer.Models.Shelter

@{
    ViewBag.Title = "Details";
}

@section scripts{
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/dropzone.js"></script>
    <link href="~/Content/dropzone.css" rel="stylesheet" />
    <link href="~/Content/thumbnail-gallery.css" rel="stylesheet">

    <script type="text/javascript">

        $(document).ready(function () {

            $("#add_btn").click(function () {
                $("#gallery").fadeOut();
                $("#my-awesome-dropzone").fadeIn();
                $("#add_btn").text("Finish");
                $("#add_btn").click(function () {
                    //location.reload();
                    $.ajax({
                        url: "",
                        context: document.body,
                        success: function (s, x) {
                            $(this).html(s);
                        }
                    });
                });
            });

        });

    </script>
}

<h2>Details</h2>

<div>
    <h4>Shelter</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MountainRange.MountainRangeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MountainRange.MountainRangeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectType.ObjectTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectType.ObjectTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnicalCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fireplace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fireplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
</div>


<p><a class="btn btn-default" id="add_btn">Add new image</a></p>

<div class="container" id="gallery">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery</h1>
        </div>
        @foreach (var image in Model.Images)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/Image/Show/@image.Id">
                    <img class="img-responsive" src="/Image/Show/@image.Id">
                </a>
            </div>
        }
    </div>
    <hr>
</div>
<!-- /.container -->

<form action="/Image/Upload" class="dropzone" id="my-awesome-dropzone"   style="display: none">
    <input type="hidden" name="id" value="@Model.Id">
</form>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
