@model Shelterer.Models.Shelter

@{
    ViewBag.Title = "Details";
}

@section scripts{
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/dropzone.js"></script>
    <link href="~/Content/dropzone.css" rel="stylesheet" />
    <link href="~/Content/thumbnail-gallery.css" rel="stylesheet">
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="/Scripts/GMaps.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#add_btn").click(function () {
                $("#gallery").fadeOut();
                $("#my-awesome-dropzone").fadeIn();
                $("#add_btn").text("Finish");
                $("#add_btn").click(function () {
                    //location.reload();
                    $.ajax({
                        url: "",
                        context: document.body,
                        success: function (s, x) {
                            $(this).html(s);
                        }
                    });
                });
            });

        });

    </script>
}

<h2>Details</h2>

<div>
    <h4>Shelter</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.MountainRange.MountainRangeName).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "MountainRangeId" },
                new { data_toggle = "modal", data_target = "#remoteModal1", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MountainRange.MountainRangeName)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.ObjectType.ObjectTypeName).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "ObjectTypeId" },
                new { data_toggle = "modal", data_target = "#remoteModal2", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectType.ObjectTypeName)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Region.RegionName).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "RegionId" },
                new { data_toggle = "modal", data_target = "#remoteModal3", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.RegionName)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Name).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Name" },
                new { data_toggle = "modal", data_target = "#remoteModal4", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Altitude).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Altitude" },
                new { data_toggle = "modal", data_target = "#remoteModal5", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Latitude).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Latitude" },
                new { data_toggle = "modal", data_target = "#remoteModal6", title = "History" })
        </dt>

        <dd id="latitudeData">
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Longitude).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Longitude" },
                new { data_toggle = "modal", data_target = "#remoteModal7", title = "History" })
        </dt>

        <dd id="longitudeData">
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visited)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Capacity).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Capacity" },
                new { data_toggle = "modal", data_target = "#remoteModal8", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Owner).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Owner" },
                new { data_toggle = "modal", data_target = "#remoteModal9", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Opening).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Opening" },
                new { data_toggle = "modal", data_target = "#remoteModal10", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opening)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Location).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Location" },
                new { data_toggle = "modal", data_target = "#remoteModal11", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.TechnicalCondition).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "TechnicalCondition" },
                new { data_toggle = "modal", data_target = "#remoteModal12", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnicalCondition)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Remarks).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Remarks" },
                new { data_toggle = "modal", data_target = "#remoteModal13", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.WaterAccess).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "WaterAccess" },
                new { data_toggle = "modal", data_target = "#remoteModal14", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterAccess)
        </dd>

        <dt>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Fireplace).ToString(), "Index", "FieldInstant",
                new { table = "Shelter", recordId = Model.Id, field = "Fireplace" },
                new { data_toggle = "modal", data_target = "#remoteModal15", title = "History" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fireplace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>

    </dl>
</div>


<p><a class="btn btn-default" id="add_btn">Add new image</a></p>

<div class="container" id="gallery">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thumbnail Gallery</h1>
        </div>
        @foreach (var image in Model.Images)
        {
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/Image/Show/@image.Id">
                    <img class="img-responsive" src="/Image/Show/@image.Id">
                </a>
            </div>
        }
    </div>
    <hr>
</div>
<!-- /.container -->

<form action="/Image/Upload" class="dropzone" id="my-awesome-dropzone"   style="display: none">
    <input type="hidden" name="id" value="@Model.Id">
</form>

<div id="map-container" style="width: 500px; height: 500px;"></div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<div>
    <div class="modal fade" id="remoteModal1" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal2" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal3" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal4" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal5" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal6" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal7" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal8" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal9" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal10" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal11" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal12" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal13" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal14" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal15" tabindex="0" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content"></div>
        </div>
    </div>
</div>