@model Shelterer.Models.Region

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Region</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MountainRanges)
        </dt>
        <dd>
            @Html.Partial("~/Views/MountainRange/PartialIndex.cshtml", Model.MountainRanges)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shelters)
        </dt>
        <dd>
            @{ViewBag.AdditionalInfo = "type";}
            @Html.Partial("~/Views/Shelter/PartialIndex.cshtml", Model.Shelters.OrderByDescending(s => s.LastUpdate).Take(10))
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
