@model Shelterer.ViewModels.RegionIndexData
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Regions";
}

<h2>Regions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Region", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}
@using (Html.BeginForm("Index", "Region", FormMethod.Get))
{
    @Html.TextBox("currentFilter", "", new { type = "hidden" })
    <input type="submit" value="Clear" class="btn btn-default" />
}

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Regions", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Regions)
        {
            string selectedRow = "";
            if (item.Id == ViewBag.RegionId)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new { id = item.Id, page = Model.Regions.PageNumber, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
<br />
Page @(Model.Regions.PageCount < Model.Regions.PageNumber ? 0 : Model.Regions.PageNumber) of @Model.Regions.PageCount

@Html.PagedListPager(Model.Regions, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, id = ViewBag.RegionId }))

@if (Model.MountainRanges != null)
{
    using (Html.BeginForm("Index", "Region", new { id = "" }, FormMethod.Get))
    {
        <input type="hidden" name="page" value="@Model.Regions.PageNumber">
        <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSort">
        <input type="hidden" name="currentFilter" value="@ViewBag.CurrentFilter">
        <input type="submit" value="Hide" class="btn btn-default" />
    }
    <h3>Mountain ranges in @ViewBag.RegionName</h3>
    @Html.Partial("~/Views/MountainRange/PartialIndex.cshtml", Model.MountainRanges)
}